<!DOCTYPE html>
<html>
  <head>
    <title>My Web App</title>
  </head>
  <body>
    <h1>My Web App</h1>
    <form method="POST">
      <label for="input_field">Input Company URL:</label>
      <input type="text" id="input_field" name="user_input" placeholder="Enter the url of the desired company in the correct format including https://"  style="width: 50%;height: 2.2em; border: 2px solid red;  background-color: white;"
        transition: width 0.4s ease-in-out;>
      <button type="submit", style="  background-color: #04AA6D;
      border: none;
      color: white;
      padding: 16px 32px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;">Submit</button>
    </form>
  </body>
</html>
